.topSearchContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px -1px 0px 0px #191B1F0F inset;
}
.searchContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.itemBlock {
  cursor: pointer;
  transition: all 0.3s;
}

.itemName {
  padding: 20px 12px;
  border-radius: 4px;
  border-right: 2px solid var(--ant-color-primary);
  &:hover {
    background: #33C2C80F;
    color: var(--ant-color-primary);
  }
  &.active {
    font-weight: bold;
    background: #33C2C80F;
    color: var(--ant-color-primary);
  }
}

.dataField {
  font-weight: 500;
}

.antTabs {
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--ant-color-primary);
  }
  .ant-tabs-ink-bar {
    background: var(--ant-color-primary);
  }
}
.table {
  padding: 20px;
  height: 100%;
}

// 主容器样式
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// 表格容器样式
.tableContainer {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

// 错误信息容器样式
.errorContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

// 状态提示样式
.statusContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &.noData {
    color: #8c8c8c;
  }
  
  &.errData {
    color: red;
  }
}
.refreshBtn {
    width: 34px;
    height: 34px;
    border-radius: 6px;
    background-color: #191b1f0a;
    border: none;
  }
  .refreshBtn:hover {
    background-color: #191b1f0a !important;
    border: none !important;
  }

// 编辑模式的表格行样式
.editRow {
  :global(.ant-table-cell) {
    padding: 10px 8px !important;
  }
}

// 只读模式的表格行样式
.readOnlyRow {
  :global(.ant-table-cell) {
    padding: 16px 16px !important;
  }
}
