.wrapper {
  :global(.ant-form-item-explain) {
    margin-top: -10px;
    margin-left: 14px;
    width: fit-content;
    padding: 0 8px;
    z-index: 1;
    font-size: 12px;
    font-weight: 500;
    background-color: #fff;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 14px;
  color: rgba(25, 27, 31, 0.6);
  font-weight: 500;
  margin-bottom: 10px;

  .required {
    color: #f45858;
    margin-left: 6px;
  }
}

.input {
  height: 54px !important;
  width: 300px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  color: #191b1f;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
}
