.batchBar {
  position: sticky;
  bottom: 16px;

  margin: 0 auto;
  width: fit-content;

  z-index: 10;

  background: #fff;
  border-radius: 8px;
  padding: 12px 24px;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);

  .selectedText {
    font-weight: 500;
    color: #1677ff;
    font-size: 14px;
  }
}
