.stepContent {

    flex: 1;

    .title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0%;
        color: #191B1F99;
        margin-bottom: 10px;
    }

    :global {
        .ant-table-row-expand-icon {
            display: none;
        }

        .ant-spin-container,
        .ant-spin,
        .ant-table-wrapper,
        .ant-table,
        .ant-table-container,
        .ant-table-content,
        table {
            height: 100%;
        }

        .ant-table-cell {
            border-bottom: none!important;
        }

        .ant-table-cell {
            height: 46px!important;
        }

        .ant-table-row {
            border-bottom: none!important;
        }

    }


    .table {
        padding: 20px;
    }

    .segmented {
        border: 1px solid #191B1F0F;
        border-radius: 6px;
        overflow: hidden;
        height: 100%;

        .segmentedContainer {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            padding: 10px 20px;
            border-bottom: 1px solid #191B1F0F;

            .segmentedLabel {
                font-weight: 600;
                font-style: SemiBold;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 0%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;
                color: #191B1F66;

                // &.active {
                //     color: #31C47F;

                //     path {
                //         stroke: #31C47F;
                //         stroke-opacity: 1;
                //     }
                // }


            }
        }
    }
}