.form {
  height: 100%;
}

.stepContent {
  height: 100%;

  .plantsContainer {
    display: flex;
    align-items: center;
    height: 100%;

    .treeSelector {
      height: 100%;
      width: calc((100% - 24px)/2);
    }

    .selectedList {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      border: 1px solid #191B1F0F;
      border-radius: 6px;


      .selectedOrgSection {
        flex: 1;
        height: 50%;
        overflow: hidden;
      }

      .selectedPlantSection {
        flex: 1;
        height: 50%;
      }
    }
  }
}

.actions {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
}