.organizationTreeLoading {
  height: 100%;
}

.organizationTree {
  display: flex;
  flex-direction: column;
  height: 100%;

  .treeSearchInput {
    border-radius: 6px;
    background: rgba(25, 27, 31, 0.06);
    padding: 0 10px;
    height: 34px;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 10px;
    margin-bottom: 9px;
    width: calc(100% - 20px);
  }

  .treeSearchIcon {
    margin-left: 6px;
    font-size: 14px;
    vertical-align: middle;

    &::placeholder {
      color: #191b1f66;
    }
  }

  .treeContainer {
    border-top: 1px solid rgba(25, 27, 31, 0.06);
    padding-left: 10px;

    :global {
      .ant-tree-treenode {
        height: 34px;
        margin: 0 !important;
        display: flex;
        align-items: center;

        &::before {
          display: none;
        }

        .ant-tree-switcher {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 6px;

          &::before {
            top: 5px;
          }
        }

        .ant-tree-node-content-wrapper {
          margin-right: 4px;
          padding: 0px 4px !important;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          border-right: 2px solid transparent;
          flex: 1;
          overflow: hidden;
        }

        .ant-tree-node-selected #tree-title {
          color: var(--ant-color-primary);
        }

        .ant-tree-node-selected {
          background-color: #33c2c80f !important;
          border-right: 2px solid var(--ant-color-primary);
        }
      }

      .ant-splitter-panel {
        padding: 0;
      }

      .ant-tree-treenode-selected .ant-tree-switcher {
        color: var(--ant-color-primary);
      }

      .ant-tree-indent-unit::before,
      .ant-tree-switcher-leaf-line::before,
      .ant-tree-switcher-leaf-line:after {
        display: none;
      }
    }
  }
}

.okConfirm {
  width: 90px;
  height: 42px;
  border-radius: 6px;
  background: #f45858;
  border-color: #f45858;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: #fff;
  margin-left: 0 !important;

  &:hover {
    background: #f45858 !important;
    border-color: #f45858 !important;
    color: #fff !important;
  }

  &:disabled,
  &.ant-btn-disabled {
    background: #f45858 !important;
    border-color: #f45858 !important;
    color: #fff !important;
    opacity: 0.5;
    cursor: not-allowed;
  }
}