@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;
@use 'sass:color';
/* 管理后台布局样式 */
.adminMainLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 0 !important;
}

/* 内容区域样式 */
.adminContent {
  flex: 1;
  padding: 10px;
  background-color: $color-bg-base;
  @include dark-theme {
    background-color: $dark-color-bg-base;
  }
  overflow-y: auto;
  padding-left: 0;

  .contentWrapper {
    width: 100%;
    margin: 0;
  }
}

.siderLayout {
  min-height: 100vh;
}

.siderInner {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-bg-base;
  @include dark-theme {
    background-color: $dark-color-bg-base;
  }
}

.siderInnerCollapsed {
  justify-content: center;
}

.sidebar {
  height: 100vh;
  transition: all 0.25s ease;
  background-color: #f7f7f7;
}

.collapsed {
  background-color: #f7f7f7;
  border-right: none;
}

.rightContent {
  padding: 24px;
  background-color: #f7f7f7;
}
