@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as *;

.tableContainer {
  flex: 1;
  padding: 16px;
  overflow: auto;
}

.loadingContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}