.roleInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  margin-left: -10px;
}

// 表格容器
.tableContainer {
  padding: 20px 20px 20px 0;

  .operationButtons {
    .operationButtonItem {
      cursor: pointer;
    }
  }
}
