.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;

    :global(.ant-pagination-item) {
        border-radius: 6px;
    }

    :global(.ant-pagination-item-active) {
        background: #1677ff;
        border-color: #1677ff;

        a {
            color: #fff;
        }
    }

    :global(.ant-pagination-prev),
    :global(.ant-pagination-next) {
        border-radius: 6px;
    }
}