.editableContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #191B1F0F;

  .searchHeader {
    padding: 8px 10px;
    border: 1px solid #191B1F0F;

    .searchInput {
      background-color: #191B1F0F;
    }
  }

  .treeContainer {
    flex: 1;
    overflow: auto;
    padding: 0 20px;

    .tree {
      :global {
        .ant-tree-node-content-wrapper {
          flex: 1;
          padding: 0;
          overflow: hidden;
        }

        .ant-tree-treenode {
          height: 34px;
          margin: 0 !important;
          display: flex;
          align-items: center;
          width: 100%;

          &::before {
            display: none;
          }

          .ant-tree-switcher {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 6px;

            &::before {
              top: 5px;
            }
          }

          .ant-tree-node-selected {
            background-color: transparent;
          }

          .ant-tree-node-content-wrapper {
            &:hover {
              background-color: transparent;
            }
          }
        }

        .ant-tree-checkbox {
          order: 999;
        }

        .ant-splitter-panel {
          padding: 0;
        }

        .ant-tree-indent-unit::before,
        .ant-tree-switcher-leaf-line::before,
        .ant-tree-switcher-leaf-line:after {
          display: none;
        }
      }

    }

    .treeNode {
      overflow: hidden;
      display: flex;

      .treeNodeTitle {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .footer {
    color: #191B1F66;
    font-size: 14px;
    font-weight: 500;
    gap: 10px;
    align-items: center;
    padding: 16px 20px;
    border-top: 1px solid #191B1F0F;
    display: flex;
    justify-content: flex-end;

    .selectAllCheckbox {
      width: 14px;
      height: 14px;
    }
  }
}