@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as *;
@use 'sass:color';

.organizationDetailPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 12px;
  justify-content: space-between;
  background-color: $color-bg-container;
  overflow: scroll;

  @include dark-theme {
    background-color: $dark-color-bg-container;
  }

  .antTabs {
    height: 54px;
    padding-left: 30px;
    border-bottom: 1px solid rgba(25, 27, 31, 0.06);
  }

  .tabItems {
    padding: 4px 0;
    font-size: 14px;
    font-weight: 500;
  }

  :global(.ant-tabs-nav) {
    margin-bottom: 0;
  }
}
