.treeNodeTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
}

.nodeTitle {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #191B1F;
    font-weight: 500;
    font-size: 14px;
    flex: 1;
}

.nodeActions {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: opacity 0.2s ease;

    .actionIcon {
        font-size: 14px;
        cursor: pointer;

        &:hover {
            background-color: rgba(24, 144, 255, 0.1);
        }
    }
}

:global {
    .ant-tree-treenode {
        height: 34px;
        margin: 0 !important;
        display: flex;
        align-items: center;

        &::before {
            display: none;
        }

        .ant-tree-switcher {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 6px;

            &::before {
                top: 5px;
            }
        }

        .ant-tree-node-content-wrapper {
            margin-right: 4px;
            padding: 0px 4px !important;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-right: 2px solid transparent;
        }

        .ant-tree-node-selected #tree-title {
            color: var(--ant-color-primary);
        }

        .ant-tree-node-selected {
            background-color: #33C2C80F !important;
            border-right: 2px solid var(--ant-color-primary);
        }



    }

    .ant-tree-treenode-selected .ant-tree-switcher {
        color: var(--ant-color-primary)
    }
}