.organizationTree {
    display: flex;
    flex-direction: column;
    height: 100%;

    .treeSearchInput {
        border-radius: 6px;
        background: rgba(25, 27, 31, 0.06);
        padding: 10px;
        height: 34px;
        font-size: 14px;
        font-family: Montserrat;
        display: flex;
        align-items: center;
        margin: 10px;
        margin-bottom: 9px;
        width: calc(100% - 20px);
    }

    .treeSearchIcon {
        margin-left:6px;
        height: 14px;
        line-height: 14px;
        vertical-align: middle;
        
        &::placeholder {
            color: #191B1F66
        }
    }

    .treeContainer {
        border-top: 1px solid rgba(25, 27, 31, 0.06);
        padding-left: 10px;
    }


}