.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.orgInfo {
    border-bottom: none!important;
}

.tabs {
    padding: 0 30px;
    margin-top: -10px;
    font-size: 14px;
    font-weight: 600;
}