.tooltip {
  .ant-tooltip-inner {
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background: #191B1FE5;
    backdrop-filter: blur(4px)
  }

  .ant-tooltip-arrow::before {
     background: #191B1FE5;
      backdrop-filter: blur(4px)
  }
}