body {
    margin: 0;
    padding: 0;
}


.ant-tree-switcher {
  display: flex;
  align-items: center;
}


.ant-tree-node-selected, .ant-tree-treenode-selected {
    background-color: #fff !important;
    color: #33C2C8 !important;
}

.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal {
  width: calc(100% - 52px);
}